@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
    opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2a2a2a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    --background-color: #000000;
    --background-color-barely-light: #070707;
    --background-color-light: #151515;
    --background-color-lighter: #2a2a2a;
    --text-color-dark: #aaaaaa;
    --text-color: #eeeeee;
    --accent-color: dodgerblue;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;

    font-family: "Roboto Mono", monospace;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.var-width-container {
    width: 100%;
    max-width: 1200px;
    min-height: 100px;
    padding: 10px;
    margin: 0;
    align-self: center;
    @media screen and (min-width: 1200px) {
        border-left: 1px solid gray;
        border-right: 1px solid gray;
    }
}
