@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    --background-color: #101010;
    --background-color-light: #202020;
    --text-color-dark: #aaaaaa;
    --text-color: #FFFFFF;
    --accent-color: dodgerblue;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;

    font-family: 'Roboto Mono', monospace;
}


