.text-glow{
    text-shadow:1px 1px 1px #fff, 1px 1px 10px #ccc;
}

nav{
    position: sticky;
    top: 0;
    
    backdrop-filter: blur(15px) brightness(50%);

    padding: 10px;
    padding-left: 10px;
    padding-right: 50px;

    font-size: 1.2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;

    border-bottom: 1px solid gray;

    #nav-logo{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        img{
            height: 50px;
        }
        h1{
            margin: 0;
            transition: all 0.1s cubic-bezier(1,.5,.5,1);
        }
        margin-right: 20px;
    }
    #nav-logo:hover{
        h1{
            text-shadow:1px 1px 1px #fff, 1px 1px 10px #ccc;
        }
    }
    .nav-button{
        p{
            text-align: center;
            margin: 0;
            padding: 2px;
            padding-left: 5px;
            padding-right: 5px;
            text-decoration: none;
            transition: all 0.2s cubic-bezier(1,0,.5,1);
        }
        cursor: pointer;
        width: 100px;
        box-shadow: inset 0 0 0 0 var(--accent-color);
        border-radius: 3px;
        transition: all 0.2s cubic-bezier(1,0,.5,1);
    }
    .nav-button:hover{
        p{
            color: var(--background-color);
            transform: scale(1.05);
        }
        box-shadow: inset 100px 0 0 0 var(--accent-color);
    }

    @media screen and (max-width: 700px) {
        backdrop-filter: blur(10px) brightness(50%);

        gap: 20px;
        font-size: 1rem;
        padding-right: 30px;

        #nav-logo{
            margin-right: 10px;
            img{
                height: 30px;
            }
            h1{
                display: none;
            }
        }
    }
    @media screen and (max-width: 500px) {
        gap: 10px;
        font-size: .8rem;

        #nav-logo{
            margin-right: 5px;
            img{
                height: 20px;
            }
        }
    }
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid gray;
    margin: 0;
    
    .left{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        img{
            width: 200px;
        }
        h1{
            text-shadow:1px 1px 1px #fff, 1px 1px 10px #ccc;
            margin: 0;
            font-size: 7rem;
        }
    }
    .right{
        text-align: center;
        h2{
            color: var(--text-color-dark);
            font-size: 1.7rem;
        }
    }

    @media screen and (max-width: 1900px) {
        flex-direction: column;
        gap: 30px;

        padding-top: 50px;
        padding-bottom: 50px;

        .left{
            img{
                width: 200px;
            }
            h1{
                font-size: 6.2rem;
            }
        }
    }
    @media screen and (max-width: 700px) {
        flex-direction: column;

        padding-top: 50px;
        padding-bottom: 50px;

        gap: 10px;

        .left{
            img{
                width: 150px;
            }
            h1{
                font-size: 4rem;
            }
        }
        .right{
            h2{
                font-size: 1.2rem;
                margin: 0;
            }
        }
    }
    @media screen and (max-width: 500px) {
        padding-top: 30px;
        padding-bottom: 30px;

        .left{
            img{
                width: 100px;
            }
            h1{
                font-size: 3rem;
            }
        }
        .right{
            h2{
                font-size: .8rem;
                margin: 0;
            }
        }
    }
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid gray;
    margin: 0
}

#phrase-of-update{
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

    h1{
        margin: 0;
        font-size: 3rem;
        text-shadow:1px 1px 1px #fff, 1px 1px 5px #ccc;
        margin: 0;
    }

    @media screen and (max-width: 700px) {
        h1{
            font-size: 2.2rem;
        }
    }
    @media screen and (max-width: 500px) {
        padding-top: 20px;
        padding-bottom: 20px;
        h1{
            font-size: 1.5rem;
        }
    }
}
#updates{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--background-color-light);
    margin: 0;
    text-align: center;

    h1{
        margin: 0;
        font-size: 2rem;
        margin: 0;
    }

    @media screen and (max-width: 700px) {
        h1{
            font-size: 1.4rem;
        }
    }
    @media screen and (max-width: 500px) {
        padding-top: 10px;
        padding-bottom: 10px;
        h1{
            font-size: 1rem;
        }
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding-top: 10px;
        padding-bottom: 10px;

        .update{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
            h2{
                margin: 0;
                font-size: 1.5rem;
            }
            p{
                margin: 0;
                font-size: .8rem;
                color: var(--text-color-dark);
            }
        }

        @media screen and (max-width: 700px) {
            .update{
                h2{
                    font-size: 1.2rem;
                }
            }
        }
        @media screen and (max-width: 500px) {
            .update{
                h2{
                    font-size: .8rem;
                }
                p{
                    font-size: .6rem;
                }
            }
        }
    }
}